<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <ul class="orbit-container">
      <li class="is-active orbit-slide">
        <%= image_tag "dog-1.jpg", alt: "Dog-1" %>
        <figcaption class="orbit-caption">Some introduction for this cute puppy.</figcaption>
      </li>
      <li class="orbit-slide">
        <%= image_tag "dog-2.jpg", alt: "Dog-2" %>
        <figcaption class="orbit-caption">Some introduction for this cute puppy.</figcaption>
      </li>
      <li class="orbit-slide">
        <%= image_tag "dog-3.jpg", alt: "Dog-3" %>
        <figcaption class="orbit-caption">Some introduction for this cute puppy.</figcaption>
      </li>
      <li class="orbit-slide">
        <%= image_tag "dog-4.jpg", alt: "Dog-4" %>
        <figcaption class="orbit-caption">Some introduction for this cute puppy.</figcaption>
      </li>
      <li class="orbit-slide">
        <%= image_tag "dog-5.jpg", alt: "Dog-5" %>
        <figcaption class="orbit-caption">Some introduction for this cute puppy.</figcaption>
      </li>
    </ul>
  </div>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
    <button data-slide="4"><span class="show-for-sr">Fifth slide details.</span></button>
  </nav>
</div>

<section class="list-container">
  <div class="product-lists">
    <section class="popular">
      <h3>Popular</h3>
      <ul>
        <% @popular_products.each do |popular_product| %>
          <% if popular_product.is_active %>
            <h4><%= link_to popular_product.name, product_path(popular_product.id) %></h4>
            <%= link_to image_tag(popular_product.photo_url, alt: popular_product.name), product_path(popular_product.id) %>
            <%# Code used for http links %>
            <%# display_image(popular_product.photo_url) %>
          <% end %>
        <% end %>
      </ul>
    </section>

    <section class="outfits">
      <h3>Outfit</h3>
      <ul>
        <% @outfits.each do |outfit| %>
          <% if outfit.is_active %>
            <h4><%= link_to outfit.name, product_path(outfit.id) %></h4>
            <%= outfit.photo_url %>
            <% link_to image_tag("11.jpeg", alt: outfit.name), product_path(outfit.id) %>
          <% end %>
        <% end %>
      </ul>
    </section>

    <section class="foods">
      <h3>Food</h3>
      <ul>
        <% @foods.each do |food| %>
          <% if food.is_active %>
            <h4><%= link_to food.name, product_path(food.id) %></h4>
            <%= link_to image_tag(food.photo_url, alt: food.name), product_path(food.id) %>
          <% end %>
        <% end %>
      </ul>
    </section>
  </div>

  <section class="categories">
    <h4>Categories</h4>
    <ul>
      <% @categories.each do |category| %>
        <li><%= link_to category.name, category_products_path(category.id) %></li>
      <% end %>
    </ul>
  </section>

</section>
