<h3>User Account Page</h3>

<%= link_to "Add Categories", new_category_path, class: "button" %>
<%= link_to "Add Products", new_user_product_path(@user.id), class: "button" %>

<h4>List of Products</h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Update</th>
      <th>Retire</th>
    </tr>
  </thead>
  <tbody>
    <% @user.products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product_path(product) %></td>
      <td>$<%= product.price %></td>
      <td>$<%= product.stock %></td>
      <td>Update button to be added</td>
      <td>Retire button to be added</td>
    </tr>
    <% end %>
  </tbody>
</table>

<h4>List of Orders</h4>
<h4>Statistics</h4>
