<h3>Order Confirmation</h3>
<p>Order number: <%= @order.id %></p>
<p>Total price: $<%= @order.total_cost %></p>
<p>Date placed: <%= @order.updated_at %></p>
<p>Current status: <%= @order.status %></p>
<% if @order.status == "paid" %>
  <span class="button">Cancel</span>
<% end %>


<table>
  <thead>
    <tr>
      <th>Order Items</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |order_item| %>
    <tr>
      <td><%= link_to order_item.product.name, product_path(order_item.product) %></td>
      <td><%= order_item.quantity %></td>
      <td>$<%= order_item.subtotal %></td>
    </tr>
    <% end %>
  </tbody>
</table>
