<section class="orders-display">

  <%= link_to "Back to my account", merchant_path(session[:merchant_id]), class: "button float-right double-button" %>

  <table class="orders-table">
    <thead>
      <tr>
        <th class="small">
          ID
        </th>
        <th class="middle">
          Date
        </th>
        <th class="large">
          My products
        </th>
        <th class="middle">
          Revenue
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>

    <tbody class="table-font">
      <% @orders.each do |order| %>
      <tr>
        <th class="small">
          <%= link_to order.id, my_order_path(order) %>
        </th>
        <td>
          <%=  display_date(order.created_at) %>
        </td>
        <td>
          <% revenue = []%>
          <%  order.cart.cartitems.joins(:product).where(products: { merchant_id: session[:merchant_id]}).each do |cartitem|%>
          <% revenue << (Product.find(cartitem.product_id).price * cartitem.quantity)%>

          <p>
            <%= Product.find(cartitem.product_id).name %>
          </p>
          <%end%>
        </td>
        <td>$<%= display_dollars(revenue.sum)%></td>
        <td>
          <%= form_for order do |f| %>
          <%= f.label :status %>
          <%= f.select :status, options_for_select([["#{order.status}",""],"Pending", "Paid", "Completed", "Cancelled"],:disabled => ["Pending"],:prompt => ["#{order.status}"] ), class: "status-bar"%>
          <%= f.submit "Change status", class: "button"%>
          <%end%>
        </td>
      </tr>
      <% end %>
    </tboby>
  </table>

</section>
