<section class = "orders-display">


<table class="orders-table">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Date
      </th>
      <th>
        My products
      </th>
      <th>
        Revenue
      </th>
      <th>
        Status
      </th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <th>
        <%= link_to order.id, my_order_path(order) %>
      </th>
      <td>
        <%=  order.created_at %>
      </td>
      <td>
        <% revenue = []%>
        <%  order.cart.cartitems.joins(:product).where(products: { merchant_id: session[:merchant_id]}).each do |cartitem|%>
        <% revenue << (Product.find(cartitem.product_id).price * cartitem.quantity)%>
        <ul>
          <li><%= Product.find(cartitem.product_id).name %></li>
        <%end%>
        </ul>
      </td>
      <td>$<%= display_dollars(revenue.sum)%></td>
      <td>
        <%= form_for order do |f| %>
        <%= f.label :status %>
        <%= f.select :status, options_for_select([["#{order.status}",""],"Pending", "Paid", "Completed", "Cancelled"],:disabled => ["Pending"],:prompt => ["#{order.status}"] )%>
        <%= f.submit%>
        <%end%>
      </td>
    </tr>
    <% end %>
  </tboby>
</table>

</section>
