<h3>Order Review</h3>

<%= render partial: "order_items_review" %>


<h4>Subtotal: $<%= display_dollars(@cart.subtotal)%></h4>
<h4>Tax: $<%= display_dollars(@cart.tax)%></h4>
<h3>Total: $<%= display_dollars(@cart.total_cost)%></h3>


<%= link_to "Edit shopping cart", cart_path(session[:cart_id]), class: "hollow button"%>
<%= form_for @order do |t|%>
<%= t.hidden_field :status, value: "pending" %>
<%= t.submit "Proceed to payment", class: "hollow button" %>
<%end%>
