<h3>Order Details</h3>

<h4>Order Number: <%= @order.id %></h4>
<h4>Status: <%= @order.status %></h4>

<h4>Customer Information</h4>
<p>Name: <%= @order.name %></p>
<p>Email: <%= @order.email %></p>
<p>Street Address: <%= @order.street_address %></p>
<p>City: <%= @order.city %></p>
<p>State: <%= @order.state %></p>
<p>Zip Code: <%= @order.zip %></p>

<h4>Billing Information</h4>
<p>Name On Card: <%= @order.name_cc %></p>
<p>Card Number: <%= @order.credit_card %></p>
<p>Expiration Date: <%= @order.expiry %></p>
<p>Security Code: <%= @order.ccv %></p>
<p>Billing Zip Code: <%= @order.billing_zip %></p>
