<section class="show-merchant">
  <ul>
    <li>
      <%= @merchant.username %>
    </li>
    <li>
      Joined Alibonbon on: <%= display_date(@merchant.created_at) %>
    </li>
    <li>
      Email: <%= @merchant.email %>
    </li>
  </ul>

  <%= link_to "View all my products", display_path(@merchant), class: "button" %>

  <%= link_to "View all orders", my_orders_path, class: "button" %>

  <h2>My Revenue</h2>
  <ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Total Revenue</a></li>
    <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Revenue: Pending Orders</a></li>
    <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">Revenue: Paid Orders</a></li>
    <li class="tabs-title"><a data-tabs-target="panel4" href="#panel4">Revenue: Completed Orders</a></li>
    <li class="tabs-title"><a data-tabs-target="panel5" href="#panel5">Revenue: Cancelled Orders</a></li>
  </ul>
  <div class="tabs-content" data-tabs-content="example-tabs">
  <div class="tabs-panel is-active" id="panel1">
    <p>$ <%= display_dollars(@merchant.my_total_revenue) %></p>
  </div>
  <div class="tabs-panel" id="panel2">
    <p>$ <%= display_dollars(@pending_orders) %></p>
  </div>
  <div class="tabs-panel" id="panel3">
    <p>$ <%= display_dollars(@paid_orders) %></p>
  </div>
  <div class="tabs-panel" id="panel4">
    <p>$ <%= display_dollars(@completed_orders) %></p>
  </div>
  <div class="tabs-panel" id="panel5">
    <p>$ <%= display_dollars(@cancelled_orders) %></p>
  </div>
</div>

</section>
