<section class="show-merchant">
  <ul>
    <li>
      <%= @merchant.username %>
    </li>
    <li>
      Joined Alibonbon since: <%= @merchant.created_at %>
    </li>
    <li>
      Email: <%= @merchant.email %>
    </li>
  </ul>

  <%= link_to "View all my products", display_path(@merchant), class: "button" %>

  <%= link_to "View all orders", my_orders_path, class: "button" %>

  <h3>Total revunue </h3>

  <h3>Total orders</h3>

</section>
