<section class="new-category-form">
  <%= form_for @category, url: "/merchants/:merchant_id/categories" do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit "Create a new category", class: "button double-button" %>

  <%= link_to "Back to my account", merchant_path(session[:merchant_id]), class: "button float-right double-button" %>

  <% end %>

</section>
