<section class="show-category">

  <h2>
    <%= @category.name %>
  </h2>

  <% @category.products.each do |pro| %>
  <section class="detail-pro">
    <%= image_tag(pro.image, alt: "middle-pro", class: "product-cat-img") %>
    <ul>
      <li><%= pro.name %></li>
      <li>Price: <%= pro.price %></li>
      <li>Seller: <%= pro.merchant.username %></li>
      <li>Details: <%= pro.description %></li>
    </ul>
  </section>
  <% end %>

</section>
