<section class="show-category">

  <h2>
    <span class="category-name"><%= @category.name %></span>
  </h2>
  <div>
    <% @category.products.each do |pro| %>
    <section class="grid-container">
      <span><%= link_to image_tag(pro.image, alt: "middle-pro", class: "product-cat-img"), product_path(pro) %></span>
      <div class="product-stuff">
        <ul>
          <li><%= link_to pro.name, product_path(pro) %></li>
          <li>Price: $<%= display_dollars(pro.price) %></li>
          <li>Seller: <%= link_to pro.merchant.username, merchant_path(pro.merchant)%></li>
          <li>Details: <%= pro.description %></li>
        </ul>
      </div>
    </section>
  </div>
  <% end %>
</section>
