<section class="new-product-form">
  <h3>
    <% page_title ||= "Create a New Product"%>
    <%= page_title %>
  </h3>

  <%= form_for @product, url: "/merchants/:merchant_id/products" do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name%>

 <%= f.hidden_field :merchant_id %>

  <div>
    <%= f.label :categories %>
    <%= collection_check_boxes(:product, :category_ids, Category.all, :id, :name) %>
    <%= link_to "Create a new category", new_merchant_category_path(session[:merchant_id]), class: "button" %>
  </div>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :stock %>
  <%= f.number_field :stock %>

  <%= f.hidden_field :merchant_id, :value => params[:merchant_id] %>

  <%= f.label :image %>
  <%= f.text_field :image %>

  <%= f.hidden_field :visible, :value => true %>

  <%= f.submit class: "button" %>

  <% end %>
</section>
