<h3>List of Products</h3>

<p>Categories filter to be implemented</p>
<p>Merchants filter to be implemented</p>

<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <%= display_image(product.photo_url) %>
  <p>Price: <%= product.price %></p>
  <p>Description: <%= product.description %></p>
  <p>Stock: <%= product.stock %></p>
<% end %>
