<h2>Delicious Products</h2>
<table class= "treats-table">
  <thead>
    <tr>
      <th>
        Ooooo
      </th>
      <th>
        Name:
      </th>
      <th>
        Sold By:
      </th>
      <th>
        Reviews:
      </th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td>
        <%= image_tag(product.image, alt: "bonbon-image", class: "product_pic") %>
      </td>
      <td>
        <%= link_to product.name, product_path(product) %>
      </td>
      <td>
        <%= link_to product.merchant.username, merchant_path(product) %>
      </td>
      <td>
        <!-- TODO: Need a link to successfully created ids: Check w/Caroline and Wini -->
        <%= link_to Review.where(product_id: product.id).count %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @products %>
