<h3>List of Products</h3>

<div class="filter">
  <%= form_for @category do |f| %>
    <%= f.select :id, Category.all.map { |category| [category.name, category.id] },  :prompt => 'Select a category' %>
    <%= f.submit "Sumbit", class: "button" %>
  <% end %>

  <%= form_for @user do |f| %>
    <%= f.select :id, User.all.map { |user| [user.username, user.id] },  :prompt => 'Select a user' %>
    <%= f.submit "Sumbit", class: "button" %>
  <% end %>
</div>

<ul class="product_list">
  <% @products.each do |product| %>
  <li class="product_info">
    <h4><%= product.name %></h4>
    <%= display_image(product.photo_url) %>
    <p>Price: $<%= product.price %></p>
    <p><%= product.description %></p>
    <p><%= product.stock %> in stock</p>
  </li>
  <% end %>
</ul>
