<h2>Details for Product <%= @product.name %></h2>
<p>Price: $<%= (@product.price / 100.00) %></p>
<p>Seller <%= @product.merchant.username %></p>
<p>Description: <%= @product.description %></p>
<p>Take a Look: <%= @product.image %></p>
<!-- FIXME: TEMPORARY STYLE, WILL FIX -->
<!-- TODO: STYLE THE SHIT OUT OF THIS. -->
