<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Puppsy</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>

    <header class="page-header row">
      <h1>Puppsy</h1>
      <nav>
        <span class="button">Home</span>
        <%= link_to "All Products", products_path, class: "button"  %>
        <span class="button">Cart</span>
        <% if session[:user_id] %>
          <%= link_to "Log out", logout_path, method: :delete, class: "button"  %>
        <% else %>
          <%= link_to "Login with Github", "/auth/github", class: "button" %>
        <% end %>
      </nav>
    </header>

    <main class="main-container row">
      <%= yield %>
    </main>

    <footer>
      <h5>©2018 Fur-eign Keys</h5>
    </footer>

  </body>
</html>
